.slot-game-bulb {
    width: 15px;
    height: 15px;
    background-image: radial-gradient(#FFFFB8, #f9ca9a);
    border-radius: 100%;
    box-shadow: 2px 2px 3px 1px black;
    transition: 0.5s;
    filter: brightness(65%);
    
}

.slot-game-bulb.lighted {
    filter: brightness(130%);
}